vendor/github.com/
vendor/golang.org/
vendor/google.golang.org/
vendor/gopkg.in/
vendor/go.uber.org/
vendor/k8s.io/
contrib/packaging/rpm/*.tar.gz
flow/*.pb.go
statics/bindata.go
filters/filters.pb.go
http/wsstructmessage.pb.go
*_easyjson.go
contrib/vagrant/.vagrant/
contrib/dev/.vagrant/
contrib/snort/snortSkydive
contrib/docker/skydive.*
skydive.yml
probe/ebpf/flow.o
js/api.js
js/browser.js
js/node_modules/
statics/js/bundle.js
.idea

# Custom gitignore
api/server/alert_swagger.go
api/server/alert_swagger.json
api/server/capture_swagger.go
api/server/capture_swagger.json
api/server/edgerule_swagger.go
api/server/edgerule_swagger.json
api/server/noderule_swagger.go
api/server/noderule_swagger.json
api/server/packet_injector_swagger.go
api/server/packet_injector_swagger.json
api/server/workflow_swagger.go
api/server/workflow_swagger.json
flow/layers/dhcpv4.pb.go
flow/layers/dns.pb.go
flow/layers/vrrpv2.pb.go
flow/metadata_gendecoder.go
flow/probes/metadata_gendecoder.go
packetinjector/metadata_gendecoder.go
sflow/metadata_gendecoder.go
topology/metrics_gendecoder.go
topology/chassis_metrics_gendecoder.go
topology/neighbors_gendecoder.go
topology/nexthop_gendecoder.go
topology/probes/docker/metadata_gendecoder.go
topology/probes/libvirt/metadata_gendecoder.go
topology/probes/lldp/metadata_gendecoder.go
topology/probes/lxd/metadata_gendecoder.go
topology/probes/netlink/metadata_gendecoder.go
topology/probes/neutron/metadata_gendecoder.go
topology/probes/nsm/metadata_gendecoder.go
topology/probes/opencontrail/metadata_gendecoder.go
topology/probes/ovn/metadata_gendecoder.go
topology/probes/ovsdb/metadata_gendecoder.go
topology/probes/runc/metadata_gendecoder.go
topology/probes/socketinfo/metadata_gendecoder.go
topology/routes_gendecoder.go
vendor/git.fd.io/
vendor/sigs.k8s.io/
websocket/structmessage.pb.go

contrib/dev/roles
contrib/exporters/allinone/allinone
contrib/vagrant/provisioning
contrib/vagrant/roles/skydive_dev
js/package-lock.json
